.jumbo {
    padding-top: 1.5em;
    padding-bottom: 4em;
}

.heading {
    font-family: "HanleyPro-Slim"
}

.cardimgmiddle {
    height: 5rem;
    object-fit: cover;
    object-position: 50% 50%;
}

.cardimgleft {
    height: 5rem;
    object-fit: cover;
    object-position: left;
}

.cardimgright {
    height: 5rem;
    object-fit: cover;
    object-position: right;
}